<head>
	<meta charset = "utf-8">
	<title id ="title">EXPENDA</title>
	
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/users.css">
</head>
<body>
	<div id="sitebody" class="container">
		<div id="header"role="navigation" style="display: inline-block;">
			<ul>
				<li style="text-align:center;"><img  class="logo" src="/images/logo.png"> </li>
			  	<li><a href="/" class="active">Home</a></li>
			  	<li><a href="/users/notification">Notification</a></li>
				<% if(authenticated){ %>
			  	<li style="float:right;"><a href="/users/logout">Logout</a></li>
				<% } %>
			</ul>
		</div>
		<!--navigator -->
		<div style="clear:both"></div><br><br><br>
	　	<div id="sidebar_left" style="float:left;width:30%;">
			<a  class="sidebar" href="/users/add_test" >Post</a>
			<a  class="sidebar" href="/users/friend_list" >Friend_List</a>
			<iframe id="panda" src="http://www.pandorabots.com/pandora/talk?botid=8693dba7ee37b4f6&skin=a">
			</iframe>
		</div>
		<!-- show Article    object:arts-->
		<div id ="content" style="float:left;">
			<% console.log(arts)%>
			<% for(var i in arts){ console.log(i); %>
			<div class ="article_author"><%= arts[i].username%><br></div>
			<div class ="article"> <%= arts[i].Context %> </div><br>
			<div class ="Date"> <%= arts[i].Date %> <a href='/apis/delete_article/<%= arts[i]._id %>'> delete</a> </div><br>	
			
			<% console.log("end")} %>
		</div>
		<!-- friend button -->
		<% if(owned=="accept_invite"){ %>
		<form action="/apis/add_friend_accept/<%= id %>" method="POST">
		<input type="submit" value="accept_invite">
		</form>
		<% } 
		 else if(owned=="invite_not_send"){ %>
		<form action="/apis/add_friend/<%= id %>" method="POST">
		<input type="submit" value="invite_not_send">
		</form>
		<% } 
		 else if(owned=="invite_send" ){ %>
		<form action="/apis/add_friend_cancel/<%= id %>" method="POST">
		<input type="submit" value="invite_send">
		</form>
		<% }  else if(owned=="friend" ){ %>
		<form action="/apis/delete_friend/<%= id %>" method="POST">
		<input type="submit" value="friend">
		</form>
		<% } %>
		
	</div>
</body>

