<head>
	<meta charset = "utf-8">
	<title id ="title">EXPENDA</title>
	
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/users.css">
	<link rel = "stylesheet" type = "text/css" href = "/bootstrap-3.3.7-dist/css/bootstrap.min.css"> 
</head>
<body style="background-color:silver;">
	<div id="sitebody" class="container">
		<div id="header" role="navigation" >
			<ul class="nav navbar-fixed-top">
				<li style="text-align:center;"><img style="height:100%;width:100%;" src="/images/logo.png"> </li>
			  	<li class="active"><a href="/" >Home</a></li>
			  	<li ><a>Notification</a></li>
				<li><a  href="/users/friend_list/<%= id %>" >Friend_List</a><li>
				<!-- friend button -->
				<% if(owned=="accept_invite"){ %>
				<form action="/apis/add_friend_accept/<%= id %>" method="POST">
				<input type="submit" value="accept_invite">
				</form>
				<% } 
				 else if(owned=="invite_not_send"){ %>
				<form action="/apis/add_friend/<%= id %>" method="POST">
				<input type="submit" value="invite_not_send">
				</form>
				<% } 
				 else if(owned=="invite_send" ){ %>
				<form action="/apis/add_friend_cancel/<%= id %>" method="POST">
				<input type="submit" value="invite_send">
				</form>
				<% }  else if(owned=="friend" ){ %>
				<form action="/apis/delete_friend/<%= id %>" method="POST">
				<input type="submit" value="friend">
				</form>
				<% } %>
					<% if(authenticated){ %>
				  	<li style="float:right;"><a href="/users/logout">Logout</a></li>
					<% } %>
			</ul>
		</div>
		<!--chatbot -->
	　	<div id="chatroom" class="chatbot" >
			<iframe class="bot" src="http://www.pandorabots.com/pandora/talk?botid=8693dba7ee37b4f6"></iframe>
		</div>
		<!-- show Article    object:arts-->
				
			
		<!-- content div-->
		<div class ="content pull-left">
				<form id="add" action="/apis/add_article" method="POST">
					<h1>Post Your States</h1>
					<textarea name="article" rows="4" cols="50"></textarea>
					<input id="ttadd" type="submit"></input>
				</form>
				<% console.log(arts)%>
				<% for(var i in arts.reverse()){ console.log(i); %>
				
				<div class="panel panel-default">	
					<div class ="article_author panel-heading"><%= arts[i].username%></div>
					<div class ="article_content panel-body"> <%= arts[i].Context %> </div>
					<div class ="article_time panel-body"> <%= arts[i].Date %> </div>

					<% if(owned=="myself"){ %>
					<div class="linkbtn" >
					<div ><a class="btn btn-sm" href='/users/update/<%= arts[i]._id %>'> update</a> </div>	
					<div ><a class="btn btn-sm" href='/apis/delete_article/<%= arts[i]._id %>'> delete</a></div>					
					</div>
					<% } %>
					<br>
				</div>
				<br><br><br>
				<%  console.log("end")} %>
				
					
		</div>	
		<div id="chatroom" class ="pull-right">
			<iframe id="chatbar" class="chatroom_bar" src="/socket/chatroom">
			</iframe>
		</div>
	</div>
</body>

